@use "src/common/styles/colors" as color;
@use "src/common/styles/mixins" as mixin;

.header {
  position: relative;
  padding: 30px 70px 30px 40px;
  cursor: pointer;
}
.title {
  font-size: 20px;
  font-weight: 700;
}
.span {
  position: absolute;
  top: 50%;
  right: 30px;
  margin: -12px 0 0 0;
}

.articleUnactive {
  margin: 0 0 16px 0;
  @include mixin.border-style(1px, color.$color-grey, solid);
  border-radius: 16px;
  cursor: pointer;
  font-family: 'Product Sans', sans-serif;

  .title {
    color: color.$color-black;
  }

  .span {
    color: color.$color-blue;
  }

  .wrapAnswerList {
    max-height: 0;
    padding: 0 1em;
    transition: all ease 0.5s;
  }
}

.articleActive {
  margin: 0 0 16px 0;
  border-radius: 16px;
  background:  color.$color-blue;

  .title,
  .span {
    color: color.$color-white;
  }

  .wrapAnswerList {
    padding: 1em;
    transition: all ease 0.75s;
    max-height: 100vh;
  }

  .li {
    padding-top: 10px;
    margin: 0 15px 15px 15px;
    font-size: 16px;
    color: color.$color-white;
    line-height: 1.5;
  }
}
