@use "src/common/styles/colors" as color;

.footer {
  padding-top: 80px;
  background: color.$color-white;
  display: flex;
  justify-content: center;
}
.articlesMainContainer {
  width: 60%;
  display: flex;
  min-width: 300px;
  justify-content: center;
  flex-direction: column;
  max-height: 1150px;
  flex-wrap: wrap;
  @media (max-width: 1204px) {
    max-height: none;
  }

.orangeSpan {
  color: color.$color-light-orange;
}
}