@use "src/common/styles/colors" as color;

.container {
  width: 70%;
  text-align: center;
  font-family: 'Product Sans', sans-serif;

  article > h3 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.3;
    color: color.$color-black;
  }
  article > p {
    margin: 20px auto 55px auto;
    font-size: 1rem;
    font-weight: 400;
    color: color.$color-medium-grey;
    max-width: 800px;
  }
}
.containerBtn {
  display: flex;
  border-radius: 16px;
  background-color: color.$color-white;

  button {
    width: 33.33%;
    padding: 13px 0;
    border: none;
    border-radius: 16px;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
  }
}

.activBtn {
  background: linear-gradient(271.19deg, #307df6 0%, #14bbbf 100%), #307ff5;
  color: color.$color-white;
}
.inactiveBtn {
  background: color.$color-white;
  color: color.$color-dark-grey;
}
