$color-black: #222;
$color-white: #f5f5f5;
$color-dark-cyan: #2B3030;
$color-dark-grey: #333333;
$color-medium-grey: #727272;
$color-grey-shadow: rgba(109, 107, 107, 0.75);
$color-grey: #ebebeb;
$color-grey-2: #dddddd;
$color-light-grey: #eeecec;
$color-turquoise: #28d2d0;
$color-light-blue: #3ea9f5;
$color-blue: #307df6;
$color-medium-blue: #6b89b0;
$color-dark-blue: #455a89;   
$color-light-orange: #f27e51;
$color-error:#b72522;
$color-green: #008000;
$color-light-green: #8aca6b;

