@mixin border-style($size, $color, $style) {
  border: {
  width: $size;
  color: $color;
  style: $style;
  }
}

@mixin border-bottom-style($size, $color, $style) {
  border-bottom: {
  width: $size;
  color: $color;
  style: $style;
  }
}
