@use "src/common/styles/colors" as color;

.container {
  padding: 20px 15px;
  background-color: color.$color-white;

  .wrap {
    max-width: 1100px;
    width: 100%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}

@media (min-width: 760px) {
    .container {
  .wrap {
    display: flex;
    flex-direction: row;
  }
}}


