.container {
  padding: 20px 15px;
  background-color: #f8f8f8;

  .wrap {
    max-width: 1100px;
    width: 100%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}

@media (min-width: 760px) {
    .container {
  .wrap {
    display: flex;
    flex-direction: row;
  }
}}


